################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Take.ChatServer/bin/Debug/netcoreapp3.1
